<div class="row d-flex justify-content-center">
    <div *ngFor="let book of books" class="card m-1 card-size">
        <img class="card-img-top"
            src="https://timedotcom.files.wordpress.com/2015/06/521811839-copy.jpg?w=800&quality=85"
            alt="Imagem de capa do card">
        <div class="card-body">
            <p>{{book.title}}</p>
            <p class="card-text">{{book.author}}</p>
        </div>
        <button type="submit" class="btn btn-outline-dark w-100">Reservar</button>
    </div>
</div>